name: Test
on:
  push:
    branches:
      - master
  pull_request: {}
jobs:
  macOS:
    strategy:
      fail-fast: false
      matrix:
        xcode: [12.3, 12.2, 12.1, 11.7]
    runs-on: macOS-latest
    name: macOS
    steps:
    - uses: actions/checkout@master
    - name: Select Xcode version
      run: sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode }}.app; swift -version
    - name: Cache resolved dependencies
      id: cache-resolved-dependencies
      uses: actions/cache@v2
      with:
        path: .build
        key: ${{ runner.os }}-${{ matrix.xcode }}-spm-deps-${{ hashFiles('**/Package.resolved') }}
        restore-keys: |
          ${{ runner.os }}-${{ matrix.xcode }}-spm-deps-
    - name: Resolve dependencies
      if: steps.cache-resolved-dependencies.outputs.cache-hit != 'true'
      run: swift package resolve
    - name: Build
      run: swift build --build-tests
    - name: Generate Xcode project
      run: make proj
    - name: Test
      run: swift test
    - name: Scan
      run: ./.build/debug/periphery scan --quiet --skip-build --strict
  linux:
    strategy:
      fail-fast: false
      matrix:
        swift: [5.3, 5.2]
    runs-on: ubuntu-latest
    container: swift:${{ matrix.swift }}
    name: Linux
    steps:
    - uses: actions/checkout@master
    - name: Cache resolved dependencies
      id: cache-resolved-dependencies
      uses: actions/cache@v2
      with:
        path: .build
        key: ${{ runner.os }}-${{ matrix.swift }}-spm-deps-${{ hashFiles('**/Package.resolved') }}
        restore-keys: |
          ${{ runner.os }}-${{ matrix.swift }}-spm-deps-
    - name: Resolve dependencies
      if: steps.cache-resolved-dependencies.outputs.cache-hit != 'true'
      run: swift package resolve
    - name: Build
      run: swift build --build-tests --enable-test-discovery
    - name: Test
      run: swift test --enable-test-discovery